/** sidebar addons*/
#aside_addons {
   #background:#9EE300;
       width:27.917%;
       min-height:259px;
       float:left;
       margin-left:0.395%;
       #padding:1.795%;
       border-radius:7px;
       -moz-border-radius:7px;
       -webkit-border-radius:7px;
       border-top-width: 1px;
       border-right-width: 1px;
       border-bottom-width: 1px;
       border-left-width: 1px;
       #border-top-style: solid;
       #border-right-style: solid;
       #border-bottom-style: solid;
       #border-left-style: solid;
}
